<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">We can provide you with skill and expertise gained through many years of working in software engineerieng field. We're highly motivated to help you developing your dream project!</p>
                <a href="#" class="btn btn-default btn-xl">Take a look at the team!</a>
            </div>
        </div>
    </div>
</section>
