<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6" style="padding-top: 50px;">
                <div class="rcorners1">
                    <img src="../img/luke_headshot.jpg" alt="Lukasz Szweda" class="img-rounded">
                    <h3 style="color:white">Lukasz Szweda</h3>
                    <p class="text-faded">As a software developer with a strong background in Java,
                        I bring a wealth of experience in clean code and architecture to every project I work on.
                        With extensive knowledge of various programming languages and paradigms,
                        I am able to bring a unique perspective to each challenge, enabling me to find innovative
                        solutions to complex problems. Whether working independently or as part of a team,
                        I am dedicated to delivering high-quality code that meets the needs of the project and the business.
                        With a passion for technology and a commitment to continuous learning,
                        I am always looking for new and exciting ways to push the boundaries of what's possible in software development.
                        In addition to my extensive experience in Java and other programming languages, I am currently broadening my skills in the exciting and rapidly growing fields of blockchain, Solidity, and JavaScript.
                        My background in econometrics and information technology has provided me with a unique perspective on the intersection of technology
                        and economics, making me particularly well-suited to work in the exciting and rapidly evolving
                        field of blockchain. With a deep understanding of economic principles and statistical analysis, as well as expertise in the latest technologies, I am able to approach blockchain development from
                     a multidisciplinary perspective that takes into account both technical and economic considerations.
                        Whether developing smart contracts or working on decentralized applications, I am committed to delivering solutions that are not only technically sound but also economically viable, ensuring that my clients and partners are able to achieve their goals and thrive in this fast-moving industry.</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-6 " style="padding-top: 50px;">
                <div class="rcorners1">
                    <img src="../img/marcin_headshot.jpg" alt="Marcin Jackowiak" class="img-rounded">
                    <h3 style="color:white">Marcin Jackowiak</h3>
                    <p class="text-faded">
                        I'm a passionate software developer with a focus on blockchain development. I believe in Agile
                        programming and Clean Code as fundamental principles of effective software development.
                        I believe that, effective communication, continuous team education, and a deep understanding of
                        the domain are key to successful architecture design.
                        As part of my current role, I am expanding my knowledge and skills in the exciting field of
                        blockchain development with a focus on delivering innovative
                        solutions that meet the unique needs of our clients. Currently, I'm also expanding my skills in
                        Solidity, Rust, and Javascript. I have introduced and supervised the implementation of
                        innovative software development methodologies such as hexagonal architecture and distributed
                        systems. I believe that knowledge sharing is essential to driving innovation and progress in the
                        field, and I am always eager to collaborate with like-minded professionals on exciting new
                        projects.
                    </p>
                </div>
            </div>
            <div class="col-lg-12 col-md-6" style="padding-top: 50px;">
                <div class="rcorners1">
                    <img src="../img/maciek_headshot.jpg" alt="Maciej Kolodziejczak" class="img-rounded">
                    <h3 style="color:white">Maciej Kolodziejczak</h3>
                    <p class="text-faded">Senior Software Developer. Created this website, if something's not working
                        it's his fault.</p>
                </div>
            </div>
        </div>
    </div>
</section>
