<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Lucky Luke</h3>
                    <p class="text-muted">Senior Software Developer with background in economics. His programming skill is second only to his looks. Iterpret it as you may.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Cinek Marcinek</h3>
                    <p class="text-muted">Senior Software Developer passionate about architecture. If he wasn't a programmer he'd most likely be a famous baseball player by now.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Maciek Maciejka</h3>
                    <p class="text-muted">Senior Software Developer. Created this website, if something's not working it's his fault.</p>
                </div>
            </div>
        </div>
    </div>
</section>
