<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6">
                <div>
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Lucky Luke</h3>
                    <p class="text-muted">Senior Software Developer with background in economics. His programming skill
                        is second only to his looks. Iterpret it as you like.</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-6 ">
                <div>
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Marcin Jackowiak</h3>
                    <p class="text-muted">
                        I'm a passionate software developer with a focus on blockchain development. I believe in Agile
                        programming and Clean Code as fundamental principles of effective software development.
                        I believe that, effective communication, continuous team education, and a deep understanding of
                        the domain are key to successful architecture design.
                        As part of my current role, I am expanding my knowledge and skills in the exciting field of
                        blockchain development with a focus on delivering innovative
                        solutions that meet the unique needs of our clients. Currently, I'm also expanding my skills in
                        Solidity, Rust, and Javascript. I have introduced and supervised the implementation of
                        innovative software development methodologies such as hexagonal architecture and distributed
                        systems. I believe that knowledge sharing is essential to driving innovation and progress in the
                        field, and I am always eager to collaborate with like-minded professionals on exciting new
                        projects.
                    </p>
                </div>
            </div>
            <div class="col-lg-12 col-md-6">
                <div>
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Maciek Maciejka</h3>
                    <p class="text-muted">Senior Software Developer. Created this website, if something's not working
                        it's his fault.</p>
                </div>
            </div>
        </div>
    </div>
</section>
